body {
  font-family: sans-serif;
}
header img {
  max-width: 100px;
}
header {
  padding: 10px;
}
section img {
  max-width: 300px;
}
section img {
  background-color: black;
}
/* .inlineblock {
  display: inline-block;
} */
section {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr;
}
/* ul li {
  list-style-type: square;
} */
ul {
  list-style: none;
}
li::before {
  content: "•";
  color: blue;
  padding: 10px;
}
